{{uri}}
public ResponseEntity<Object> {{function-name}}({{controller-input}}) {
  try {
    {{facade-call}}(request);
    return ok("Success");
  } catch ({{feature-name}}NotFoundException e) {
    return notFound("{{feature-name}} not found");
  } catch (Exception e) {
    return internalServerError();
  }
}