package {{package}};

import java.util.Optional;
import org.springframework.data.mongodb.repository.MongoRepository;
import org.springframework.stereotype.Repository;

@Repository
interface {{feature-name}}Storage extends MongoRepository<{{feature-name}}Entity, String> {
{{api-block}}
}
