package {{package}};

import java.util.List;
import lombok.extern.slf4j.Slf4j;
{{imports}}
import org.springframework.stereotype.Service;

@Slf4j
@Service
class {{class-name}}Service {

{{dependency-block}}

{{api-block}}
}
